meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")
title Trusted Buyer Credit Form
link(rel="stylesheet", href="/css/dashboard.css")
link(rel="stylesheet", href="/css/forms.css")
link(rel="stylesheet", href="/css/tables.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")

body
  .dashboard-container
    aside.sidebar
      .logo-container
        .logo-circle
          img(src="/images/hand.jpg", alt="Company Logo")
        h2.dashboard-title Credit
      nav.sidebar-nav
        ul
          li
            a(href="/addproduce")
              i.fas.fa-seedling
              | &nbsp;Add Produce
          li
            a(href="/addCredit")
              i.fas.fa-plus-circle
              | &nbsp;Add Credit
          li
            a(href="/salesTable")
              i.fas.fa-table
              | &nbsp;Sales Table
          li
            a(href="/addproduce")
              i.fas.fa-seedling
              | &nbsp;Produce Table 
          li
            a(href="/addSale")
              i.fas.fa-hand-holding-usd
              | &nbsp;Add Sale           
          li
            a(href="/recordprocurement")
              i.fas.fa-clipboard-list
              | &nbsp;Procurement List
          li
            a(href="/creditTable")
              i.fas.fa-credit-card
              | &nbsp;Credit Table   
          li
            a(href="/land")
              i.fas.fa-sign-out-alt
              | &nbsp;Logout
    main.main-content
      .container
        h2 #{credit ? 'Edit Credit Entry' : 'Trusted Buyer Credit Form'}
        
        if success
          .success-message
            i.fas.fa-check-circle
            | Successfully submitted!
        
        form#creditForm(action=credit ? `/editCredit/${credit._id}` : '/addCredit', method="post")
          .form-grid
            .form-group
              label(for="NameofBuyer") Buyer Name:
              input(type="text", name="NameofBuyer", id="NameofBuyer", value=credit ? credit.NameofBuyer : '')
              span.error-message#NameofBuyerError

            .form-group
              label(for="NIN") National ID:
              input(type="text", name="NIN", id="NIN", value=credit ? credit.NIN : '')
              span.error-message#NINError

            .form-group
              label(for="location") Location:
              input(type="text", name="location", id="location", value=credit ? credit.location : '')
              span.error-message#locationError

            .form-group
              label(for="contant") Phone:
              input(type="tel", name="contant", id="contant", value=credit ? credit.contant : '')
              span.error-message#contantError

            .form-group
              label(for="AmountDue") Amount (UGX):
              input(type="number", name="AmountDue", id="AmountDue", value=credit ? credit.AmountDue : '')
              span.error-message#AmountDueError

            .form-group
              label(for="agentName") Agent:
              input(type="text", name="agentName", id="agentName", value=credit ? credit.agentName : '')
              span.error-message#agentNameError

            .form-group
              label(for="DueDate") Due Date:
              input(
                type="date",
                name="DueDate",
                id="DueDate",
                value=credit && credit.DueDate ? new Date(credit.DueDate).toISOString().split('T')[0] : ''
              )
              span.error-message#DueDateError

            .form-group
              label(for="produceName") Produce:
              input(type="text", name="produceName", id="produceName", value=credit ? credit.produceName : '')
              span.error-message#produceNameError

            .form-group
              label(for="TypeofProduce") Type:
              input(type="text", name="TypeofProduce", id="TypeofProduce", value=credit ? credit.TypeofProduce : '')
              span.error-message#TypeofProduceError

            .form-group
              label(for="Tonnage") Tonnage:
              input(type="number", name="Tonnage", id="Tonnage", value=credit ? credit.Tonnage : '')
              span.error-message#TonnageError

            .form-group
              label(for="cost") Price (UGX):
              input(type="number", name="cost", id="cost", value=credit ? credit.cost : '')
              span.error-message#costError

            .form-group
              label(for="DateofDispatch") Dispatch:
              input(
                type="date",
                name="DateofDispatch",
                id="DateofDispatch",
                value=credit && credit.DateofDispatch ? new Date(credit.DateofDispatch).toISOString().split('T')[0] : ''
              )
              span.error-message#DateofDispatchError

          .button-container
            button(type="submit", id="submitBtn")
              i.fas.fa-paper-plane
              | #{credit ? 'Update' : 'Submit'}

  script(src="/js/credit.js")