doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Edit Produce Record
    link(rel="stylesheet", href="/css/dashboard.css")
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/tables.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")

  body
    .dashboard-container
      aside.sidebar
        .logo-container
          .logo-circle
            img(src="/images/hand.jpg", alt="Company Logo")
          h2.dashboard-title Procurement
        nav.sidebar-nav
          ul
            li
              a(href="/addproduce")
                i.fas.fa-chart-bar
                |  Add Produce
            li
              a(href="/addCredit")
                i.fas.fa-chart-bar
                |  Add Credit
            li
              a(href="/salesTable")
                i.fas.fa-chart-bar
                |  Sales Table
            li
              a(href="/addproduce")
                i.fas.fa-chart-bar
                |  Produce Table
            li
              a(href="/recordprocurement")
                i.fas.fa-table
                |  Procurement List
            li
              a(href="/creditTable")
                i.fas.fa-table
                |  Credit Table
            li
              a(href="/land")
                i.fas.fa-sign-out-alt
                |  Logout
      main.main-content
        header
          h1 Edit Produce Record
        section.dashboard-content
          form#editProduceForm(action=`/editProduce/${produce._id}`, method="post")
            .form-group
              label(for="produceName") Name of Produce:
              input#produceName(type="text", name="produceName", value=produce.produceName, )
              .error-message#produceNameError
            
            .form-group
              label(for="produceType") Type of Produce:
              input#produceType(type="text", name="produceType", value=produce.produceType, )
              .error-message#produceTypeError
            
            .form-group
              label(for="procurementDate") Date of Procurement:
              input#procurementDate(type="date", name="date", value=produce.dateandtime ? produce.dateandtime.toISOString().split('T')[0] : '', )
              .error-message#procurementDateError
            
            .form-group
              label(for="procurementTime") Time of Produce Entry:
              input#procurementTime(type="time", name="procurementTime", value=produce.dateandtime ? produce.dateandtime.toTimeString().slice(0,5) : '', )
              .error-message#procurementTimeError
            
            .form-group
              label(for="tonnage") Tonnage in kgs:
              input#tonnage(type="number", name="tonnage", value=produce.tonnage, )
              .error-message#tonnageError
            
            .form-group
              label(for="cost") Cost in UgX:
              input#cost(type="number", name="cost", value=produce.producecost, )
              .error-message#costError
            
            .form-group
              label(for="dealerName") Name of the Dealer:
              input#dealerName(type="text", name="dealerName", value=produce.dealerName, )
              .error-message#dealerNameError
            
            .form-group
              label(for="contact") Dealer's Contact Number:
              input#dealerContact(type="contact", name="contact", value=produce.contact, )
              .error-message#dealerContactError
            
            .form-group
              label(for="salePrice") Price to be Sold at:
              input#sellingPrice(type="number", name="salePrice", value=produce.saleprice, )
              .error-message#sellingPriceError
            
            .form-actions
              button(type="submit") Update Produce
              a.btn-cancel(href="/recordprocurement") Cancel 